---
http_interactions:
- request:
    method: get
    uri: http://api.uat.sulserver.net/applicants/search?accessKey=iGy8G5dUmr9HXINAOc7MIG9m1bd8bv8K&journeystatus=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"numResults":312,"results":[{"appid":629837,"journeystatus":1,"manadd":1,"firstname":"clive
        brian","surname":"shirley","dob":"1971-09-14","address1":"Fifty Pence Building","address2":"12
        Addiscomb Road","address3":"","citytown":"Croydon","county":"surrey","emailaddress":"test_user_2@foobar.com","telephone":"00777888888","gender":"Male","natins":"","skillsiccode":0,"skillis":0,"skillsother":"","loanamount":10000,"loanterm":"","ethnicity_new":0,"eucitizen":0,"visadate":"0000-00-00
        00:00:00","qualification":0,"employmentstatus":0,"exforces":0,"sharia":0,"is_nea_participant":0,"cjmentor":0,"mentorname":"","mentoringactive":0,"mentoringactivenotes":"","wherehearnew":14,"referral_partner":"0","marketingagree":1,"personaldata":0,"casestudycomplete":0,"otherfinancevalue":"","otherfinancesource":"","subsequentfinancevalue":"","subsequentfinancesource":"","subdate":"2015-02-13
        14:21:41","applicationdate":"0000-00-00 00:00:00","declined_reason":0,"repaymentholiday":0,"repaymentholidaylength":"","offerdate":"0000-00-00
        00:00:00","drawdowndate":"0000-00-00 00:00:00","statusatrepayment":"","loanwrittenoffdate":"0000-00-00
        00:00:00","loanwrittenoffamount":"","companyname":"","companynumber":"","returningtowork":0,"notes":"","dp_appid":"","dp_loanids":[],"postcode":"CR2
        0LN","district_desc":"Croydon","constituency":"Croydon South","loan_id":"SM629837"},{"appid":629835,"journeystatus":1,"manadd":1,"firstname":"clive","surname":"shirley","dob":"1971-09-14","address1":"1
        Croydon","address2":"12 Addiscomb Road","address3":"","citytown":"Croydon","county":"surrey","emailaddress":"test_user@foobar.com","telephone":"00777777777","gender":"Male","natins":"","skillsiccode":0,"skillis":0,"skillsother":"","loanamount":10000,"loanterm":"","ethnicity_new":0,"eucitizen":0,"visadate":"0000-00-00
        00:00:00","qualification":0,"employ[...]
- request:
    method: post
    uri: http://api.uat.sulserver.net/applicants/update
    body:
      encoding: UTF-8
      string: '{"applicants":[{"appid":629837,"emailaddress":"test_user_2@foobar.com","loanamount":10000,"postcode":"CR2
        0LN"}],"accessKey":"iGy8G5dUmr9HXINAOc7MIG9m1bd8bv8K"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"results":{"0":{"appid":629837},"successful":1,"failed":0,"total":1}}'
  recorded_at: Fri, 13 Feb 2015 13:58:32 GMT
recorded_with: VCR 2.9.3
